body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    background: #E3DFD2;
  }
  
  .wrap {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    margin: 0 auto;
    background: inherit;
    transform: scale(1) translateZ(0);
    opacity: 1; 
  }
  
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 47.5%;
    height: 47.5%;
    overflow: hidden;
    transform: scale(0.5) translateZ(0);
    background: #585247;
  }
  
  a div {
    height: 100%;
    background-size: cover;
    opacity: 0.5;
    border-radius: inherit;
  }
  
  a:nth-child(1) {
    border-radius: 40vmin 0 0 0;
    transform-origin: 110% 110%;
  }
  
  a:nth-child(1) div {
    background-image: url('https://static.wixstatic.com/media/a25bf6_3f115b2c092d4b14b84c0329df6a8915~mv2.jpg/v1/fill/w_560,h_414,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/2024%20Annual%20Members%20Meeting%20Invite.jpg');
  }
  
  a:nth-child(2) {
    border-radius: 0 40vmin 0 0;
    left: 52.5%;
    transform-origin: -10% 110%;
  }
  
  a:nth-child(2) div {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvDYV5QZ-RiXUxOekHwyMhzGS8kVgp0Yq3tA&s');
  }
  
  a:nth-child(3) {
    border-radius: 0 0 0 40vmin;
    top: 52.5%;
    transform-origin: 110% -10%;
  }
  
  a:nth-child(3) div {
    background-image: url('https://static.wixstatic.com/media/a25bf6_46ded2f9f76b41c1b4c357eb037874ef~mv2.jpg/v1/fill/w_640,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a25bf6_46ded2f9f76b41c1b4c357eb037874ef~mv2.jpg');
  }
  
  a:nth-child(4) {
    border-radius: 0 0 40vmin 0;
    top: 52.5%;
    left: 52.5%;
    transform-origin: -10% -10%;
  }
  
  a:nth-child(4) div {
    background-image: url('https://static.wixstatic.com/media/a25bf6_46ded2f9f76b41c1b4c357eb037874ef~mv2.jpg/v1/fill/w_640,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a25bf6_46ded2f9f76b41c1b4c357eb037874ef~mv2.jpg');
  }
  
  a:nth-child(5) {
    width: 55%;
    height: 55%;
    left: 22.5%;
    top: 22.5%;
    border-radius: 50vmin;
    box-shadow: 0 0 0 5vmin #E3DFD2;
    transform: scale(1);
  }
  
  a:nth-child(5) div {
    background-image: url('https://static.wixstatic.com/media/a25bf6_46ded2f9f76b41c1b4c357eb037874ef~mv2.jpg/v1/fill/w_640,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/a25bf6_46ded2f9f76b41c1b4c357eb037874ef~mv2.jpg');
  }
  
  span span:after, span span:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1.5vmin;
    width: 100%;
    height: 100%;
    background: inherit;
  }
  
  span span:after {
    top: 1.5vmin;
  }
  
  
  span:hover + .wrap, .wrap:hover {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
  
  span:hover + .wrap a, .wrap:hover a {
    transform: scale(1) translateZ(0);
  }
  
  a:hover div {
    opacity: 0.5;
  }
  